pkgbase = aptl
	pkgdesc = Creates installed lists of pkgs with Names & Descriptions for backup proposes.
	pkgver = 1.0.3	
	pkgrel = 1
	url = https://github.com/pegromdev/aptl
	arch = x86_64
	license = MIT
	makedepends = git
	source = https://github.com/pegromdev/aptl/archive/refs/tags/1.0.1.tar.gz
	sha256sums = SKIP

pkgname = aptl
